body{
	background-color: gray;
}

.pic-4{
	width: 650px;
}
.heading{
	color:#07048bde;
	background-color: #008000bd;
	width: 400px;
	padding: 5px;
	margin: 20px;
}


h1{
	color:#07048bde;
	background-color: #008000bd;
	width: 350px;
	padding: 5px;
	margin: 20px;
}
.pages-1{
	
font-size: 20px;
	
background: black;
	
color: cyan;
	
font-weight: 800;
	
margin: inherit;
}

a{
	font-size: 20px;
	text-decoration: none;
	padding: 15px;
}
table, th, td{
	border: 1px solid black;
}
div{

    text-align: center;
    background: black;
    color: chartreuse;
    width: 600px;
    margin: auto;
    padding: 20px;
    border: 8px outset #306400;
}
/*
	font-size: 30px;
    text-decoration: none;
    padding: 15px;
    display: block;
    */